@media (max-width: 890px){
    .globalBanner{
        height: 140px;
    }

    .globalBanner h1{
        font-size: 75px;
    }
}

@media (max-width: 770px) {
    header{
        flex-direction: column;
    }
}

@media (max-width: 460px) {
    header h2{
        font-size: 22px;
    } 
}
    

@media (max-width: 390px) {
    header h2{
        font-size: 20px;
    }
}

