header{
    font-family: 'Raleway';
    height: 50px;
    display: flex;
    z-index: 2;
    background-color: whitesmoke;
    color: black;
    width: 100%;
    position: fixed;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.nome{
    font-size: 21px;
    font-family: 'Raleway';
    font-weight: 300;
    color: black;
    text-align: start;
}

.nome a{
    text-decoration: none;
}

.nome a:active{
    color: black;
}

header .buttons{
    display: flex;
    align-items: center;
    height: 100%;
}

header .btn-header{
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
    margin: auto 10px;
    color: #134B70;
    display: inline-block;    
}

.btn-header:hover{
    cursor: pointer;
    color: blue;
}
