.globalBanner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    width: 100%;
    height: 240px;
    background-image: url(/banner-background.jpeg);
    background-size: cover;
    background-position: center;
}

.globalBanner h1{
    text-align: center;
    color: #52489c;
    font-family: 'Raleway';
    font-size: 6vw;
    font-weight: 300;
}