#img-quilo{
    background-image: url("campanhadoquilo.jpg");
}

#img-cesta{
    background-image: url("cesta-basica.png");
}

#img-sopa{
    background-image: url("sopa.jpeg");
}

#img-crianca{
    background-image: url("crianca.png");
}

#img-idoso{
    background-image: url("campanhas.jpg");
}

#img-livro{
    background-image: url("livro.jpeg");
}