#img-quilo{
    background-image: url("/images/campanhadoquilo2.jpg");
}

#img-cesta{
    background-image: url("/images/cesta-basica.png");
}

#img-sopa{
    background-image: url("/images/sopa.jpeg");
}

#img-crianca{
    background-image: url("/images/crianca.png");
}

#img-idoso{
    background-image: url("/images/campanhas.jpg");
}

#img-livro{
    background-image: url("/images/livro.jpeg");
}