@media (max-width: 650px) {
    .boxes{
        flex-direction: column;
        justify-content: center;
    }

    .box{
        width: 100%;
        margin: 0 auto;
    }

    .box img{
        width: 100%;
    }
}