@media (max-width: 900px) {
    .img-to-right, .img-to-left{
        display: none;
    }

    .align-start, .align-end{
        text-align: center;
    }

    .text{
        margin-bottom: 150px;
    }

    .text h1{
        width: 100%;
    }

    .text-campanha{
        max-width: 100%;
    }
}