header{
    display: flex;
    background-color: whitesmoke;
    color: black;
    width: 100%;
    position: fixed;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.nome{
    font-family:'Times New Roman', Times, serif;
    color: black;
    text-align: start;
    font-size: 20px;
}
a:link{
    text-decoration: none;
    margin-left: 20px;
}
.fundo{
    width: 101%;
    height: 100%;
    margin-left: -1%;  
}
.quem{
    text-decoration: none;
    font-size: 19px;
    color: #134B70;
    display: inline-block; 
    margin-left: 20px;   
}
.container {  
    display: grid;
}
.mapBox{
    position: relative;
    border-radius: 15px;
    max-width: 300px;
    max-height: 200px;
    min-height: 200px;
    min-width: 200px;
    width: 70vh;
    height: 70vh;
    background-color: aliceblue;
    float: right;
    right: 65px;
    margin-top: 20px;
}
.mapBox iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.h1{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 30px;
}
.texto{
    margin-left: 15px;
    font-size: 20px;
}
.pe{
    background-color: #EEE7DA;
    height: 225px; 
    padding: 7px;
}
.fa-brands fa-instagram fa-lg{
    margin-top: 25px;
}
@media (max-width: 770px) {
    header{
        flex-direction: column;
    } 
}
.campanhas{
    margin-top: 20px;
    margin-left: 15px;
    text-align: center;
}
.img2{
    width: 100%;
    height: 100%;
}
.img3 , .img5{
    width: 24%;
    height: 24%;
    float: right;
    
}
.img3{
    margin-top: -210px;
    margin-right: 150px;
}
.img4{
    height: 10%;
    width: 10%;
    float: right;
    margin-right: 600px;
    margin-top: -140px;
}
.img{
    height: 250px;
    width: 410px;
    margin-left: 15px;
}