html{
    font-family: 'Raleway', sans-serif;
}

body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

main{
    background-color: white;
}

main div{
    display: flex;
    justify-content: space-evenly;
}

main .apresetation{
    max-width: 80vw;
    margin: 20px auto 0;
}

main div p{
    margin: auto 0 auto 35px;
    line-height: 1.5;
}

main div img{
    max-height: 380px;
}

.donate-box{
    box-shadow: 3px 3px 4px #0085ae88;
    color: white;
    background-color: #0085ae;
    border-radius: 15px;
    padding: 10px;
    margin: 75px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 35vw;
    min-width: 280px;
}
