@media (max-width: 1090px) {
    
    main div{
        display: flex;
        align-items: center;
        position: relative;
    }

    main div p{
        position: absolute;
        margin: 0 20px;
        z-index: 1;
    }

    main div img{
        opacity: 20%;
        margin: 0 auto;
    }
}


@media (max-width: 770px) {
    header{
        flex-direction: column;
    }
}

@media (max-width: 660px) {
    footer{
        flex-direction: column;
    }

    .map-area h3{
        display: none;
    }

    footer .social-icons{
        margin-bottom: 30px;
    }
}

@media (max-width: 420px) {
    h2{
        font-size: 22px;
    } 
}

@media (max-width: 390px) {
    h2{
        font-size: 20px;
    }
}



