html{
    font-family: "Roboto", sans-serif;
}

main{
    padding-top: 100px;
    max-height: 380px;
}

main div{
    display: flex;
    justify-content: space-evenly;
}

main div p{
    margin: auto 0 auto 35px;
}

main div img{
    max-height: 380px;
}

.dropbtn{
    background-color:whitesmoke;
    color:#134B70;
    border-radius: 40px;
    margin-left: 20px;
    padding: 10px;
    font-size: 19px;
    border: none;
}

.quem{
    text-decoration: none;
    font-size: 19px;
    color: #134B70;
    display: inline-block;    
}

.mapBox{
    position: relative;
    border-radius: 20px;
    max-width: 800px;
    max-height: 800px;
    min-height: 200px;
    min-width: 200px;
    width: 70vh;
    height: 70vh;
    background-color: aliceblue;
}

.mapBox iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

footer{
    background-color: #EEE7DA;
}